/* بسم الله الرحمن الرحيم */

.row-card{
    border-radius: 7px;
}
.col-card{
    position: relative;


}
.img-hover{
    opacity: 0;
    margin: 0 12px;
}
.img-hover:hover {
    opacity: 0.7;
    cursor: pointer;
}

/*====================*/
.details-up {
    background: #f6f5f5;
}

.borBottom p{
    color: #756b6b;
    border-bottom: 1px solid #d9d4d4;
    font-size: 1.5rem;
}

.text-bg-orange{
    background: orange;
}
/* الحمد لله  رب العالمين */